<!-- col-sm-6 col-lg-4 -->

<div class="<%= card_width_classes(num_cards) %> mb-4">
  <%= link_to [:front, weekend], class: "link-without-style" do %>
    <div class="mb-2 background-2 box-notification">
      <%= front_user_description(weekend.front_user) %>
    </div>
    <div id="weekend-description-<%= weekend.uuid %>" class="box-user-input background-1"><%= truncate(weekend.body, length: 100) %></div>
  <% end %>
</div>

<script>
document.addEventListener("readystatechange", () => {
  strongifyWeekendDiv(document.getElementById("weekend-description-<%= weekend.uuid %>"));
});

</script>
