
<%= form_for [:front, @front_user] do |f| %>
  <div class="row">
    <div class="offset-md-2 col-md-8">
      <%= render "/shared/form_errors", :object => f.object %>
      <div id="front-user-description" class="box-user-input background-1">
        <p>
          My name is <span contenteditable="true" class="input-inline" id="front-user-name"></span>,
          I am originally from <span contenteditable="true" class="input-inline" id="front-user-country"></span>,
          I am <span contenteditable="true" class="input-inline" id="front-user-age"></span> years old and
          I really would like to be a <span contenteditable="true" class="input-inline" id="front-user-wannabe"></span>.
        </p>
      </div>

      <div class="box-help">
        <p>
          Example:
          My name is <strong>Julieta</strong>, I am originally from <strong>Spain</strong>,
          I am <strong>35</strong> years old and I really would like to be a <strong>interestellar
          transport driver</strong>. <span class="light">(All fields are optional).</span>
        </p>
      </div>

      <div class="text-center mb-4 mt-4">
        <span class="dot"></span>
      </div>

      <div class="mb-2 background-2 box-notification">
        Give us your email so you can access to your perfect weekends and update and modify them
      </div>
      <div id="front-user-description" class="box-user-input background-1">
        <p>
          My email is <span contenteditable="true" class="input-inline" id="front-user-email"></span>
        </p>
      </div>

      <div class="box-help">
        <p>
          <span class="light">(Also optional)</span>. We don’t send spam and we don’t share this email with anyone.
        </p>
      </div>

      <%= f.text_field :name, id:"front-user-name-input", class: "form-control input-hidden", placeholder: t("activerecord.attributes.front_user.name") %>
      <%= f.text_field :country, id:"front-user-country-input", class: "form-control input-hidden", placeholder: t("activerecord.attributes.front_user.country") %>
      <%= f.text_field :age, id:"front-user-age-input", class: "form-control input-hidden", placeholder: t("activerecord.attributes.front_user.age") %>
      <%= f.text_field :wannabe, id:"front-user-wannabe-input", class: "form-control input-hidden", placeholder: t("activerecord.attributes.front_user.wannabe") %>
      <%= f.text_field :email, id:"front-user-email-input", class: "form-control input-hidden", placeholder: t("activerecord.attributes.front_user.email") %>

      <div class="weekend-button text-end font-nice">
        <%= f.submit "Send", class: "btn btn-nice mt-2" %>
      </div>
    </div>
  </div>
<% end %>

<style>

#front-user-name {
  min-width: 5em;
}

#front-user-age {
  min-width: 2em;
}

#front-user-country {
  min-width: 4em;
}

#front-user-wannabe {
  min-width: 7em;
}

#front-user-email {
  min-width: 10em;
}

</style>


<script>
connectInputField("front-user-name", "front-user-name-input");
connectInputField("front-user-age", "front-user-age-input");
connectInputField("front-user-country", "front-user-country-input");
connectInputField("front-user-wannabe", "front-user-wannabe-input");
connectInputField("front-user-email", "front-user-email-input");

function connectInputField(elementId, inputElementId){
  let element = document.getElementById(elementId);
  let inputElement = document.getElementById(inputElementId);

  element.textContent = inputElement.value;

  element.addEventListener("input", () => { inputElement.value = element.textContent } , false);
}
</script>
