<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
  <%= link_to :front_root, class:"d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none  font-nice" do %>
    <span class="fs-4">My Perfect Weekend</span> &nbsp; <span class="fs-5"><%= "· #{yield(:title)}" if content_for?(:title) %></span>
  <% end %>

  <ul class="nav nav-pills font-console">
    <li class="nav-item"><%= link_to t("layouts.menu.weekends"), :front_weekends, class: "nav-link" %></li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><%= current_front_user.name_or_anonymous %></a>
      <ul class="dropdown-menu">
        <li class="nav-item"><%= link_to t("layouts.menu.my_weekends"), :my_weekends_front_weekends, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to t("layouts.menu.profile"), edit_front_front_user_path(current_front_user), class: "nav-link" %></li>
        <li class="nav-item"><%= link_to t("layouts.menu.logout"), front_logout_path, class: "nav-link" %></li>
      </ul>
    </li>
  </ul>
</header>
