<table class="table table-striped table-hover">
  <tr>
    <th><%= t "activerecord.attributes.weekend.uuid" %></th>
    <th><%= t "activerecord.attributes.weekend.body" %></th>
    <th><%= t "activerecord.attributes.weekend.created_at" %></th>
    <th><%= t "activerecord.attributes.weekend.status" %></th>
    <th><%= t "activerecord.attributes.weekend.front_user.name" %></th>
  </tr>

  <% weekends.each do |weekend| %>
    <tr>
      <td><%= link_to weekend.uuid, [:admin, weekend] %></td>
      <td><%= truncate(weekend.body, length: 100) %></td>
      <td><%= weekend.created_at.to_s(:datetimedb) %></td>
      <td><%= render_label(weekend.status, :states) %></td>
      <td><%= weekend.front_user ? weekend.front_user.name : "-" %></td>
    </tr>
  <% end %>
</table>
